<div class="modal" id="modalRecurso">
  
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <div class="form-group row">
                 
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            
             <form id="formRecurso" class="form" > 
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="_id" value="{{_id}}">

             
                
                <div class="form-group row">
                    <div class="col-4">
                     {{#if tipo}}
                        <input type="text" class="form-control" name="tipo" value="{{tipo.codigo}}" disabled>
                     {{else}}    
                        <select id="tiposRecurso" class="form-control" autofocus="true">
                        </select>
                     {{/if}}
                   </div>
                    <div class="col-8">
                        <input type="text" class="form-control" name="nombre" value="{{nombre}}">  
                    </div>
                   

                </div>

                <div class="form-group">
                  
                    <textarea id="Descrip" class="form-control">
                        
                    </textarea>
                </div>

               
                <div class="form-group">
                    <label for="url" class="control-label">url:</label>
                    <input type="text" class="form-control" name="url" value="{{url}}">
                </div>

                  

                <div class="form-group row">
                    <div class="col-4"> 
                        <label for="procedencia" class="control-label">procedencia:</label>
                        <input type="text" class="form-control" name="procedencia" value="{{procedencia}}">
                    </div> 
                    <div class="col-4">
                        <label for="publicacion" class="control-label">publicación:</label>
                        <input type="date" id="publicacion" class="form-control" name="publicacion"
                            value="{{publicacion}}">
                    </div>
                    <div class="col-4">
                        <label for="derogacion" class="control-label">derogación:</label>
                        <input type="date" id="derogacion" class="form-control" name="derogacion" value="{{derogacion}}">
                    </div>
                </div>

                    <div class="from-group row">
                        <!--label for="documento" class="control-label">documento</label-->
                        <div class="col">
                            <span class="btn btn-default btn-file">
                                <input id="fileupload" type="file" name="documento" class="form-control"
                                    data-url="/upload">
                            </span>
                        </div>
                    </div>
                </div>

               
                <div class="form-group">
                    <button id="GrabarRecurso" type="button" class="btn btn-primary">Grabar</button>
                    <button type="button" class="btn btn-secondary close btn" data-dismiss="modal">Salir</button>

                </div>
              
                </form>
            </div>
        </div>
    </div>
  

</div>

    
